/* Write your CSS code here */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-family: 'Roboto';
}

.not-found-img {
  width: 250px;
}

.not-found-heading {
  font-weight: 500;
  color: #6d396b;
  line-height: 56px;
  font-size: 35px;
}
