/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-family: 'Roboto';
}

.home-img {
  width: 150px;
}

.home-heading {
  color: #6d396b;
  line-height: 56px;
  font-weight: 500;
  font-size: 35px;
}
